#modalAuth {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: aqua;
  z-index: 9999;
}

.form-imput {
  margin-top: 28px;
  padding-left: 42px;
  width: 499px;
  height: 64px;
  outline: none;
  color: black;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  fill: #212121;
  transition-property: border, fill;
  border-radius: 40px;
}

.btn-singup-modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 64px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  padding: 0;
  border: 0;
}
.signUp {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
  width: 130px;
}

.signUp-link:hover,
.signUp-link:focus {
  color: #4f2ee8;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background: aqua;
}
