<!-- <div class = "container"> -->
<div id="modalAuth">
  <form id="formAuth">
    <div class="form-field">
      <label for="name" class="form-label">
        <input
          type="text"
          name="name"
          class="form-imput"
          id="name"
          placeholder="NAME"
          required
        />
      </label>
      <div class="name-error"></div>
    </div>
    <div class="form-field">
      <label for="tel" class="form-label">
        <input
          type="tel"
          name="tel"
          class="form-imput"
          id="tel"
          placeholder="TEL"
          required
        />
        <div class="tel-error"></div>
      </label>
    </div>
    <div class="form-field">
      <label for="email" class="form-label">
        <input
          type="email"
          name="email"
          class="form-imput"
          id="email"
          placeholder="EMAIL"
          required
        />
        <div class="email-error"></div>
      </label>
    </div>
    <button class="btn-singup-modal" type="submit" id="btnSingupModal">
      SING UP
    </button>
    <button class="close-btn" type="button" id="closeBtn">
      <svg class="close-btn-icon" width="18" height="18">
        <use href="./icons/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </form>
</div>
<!-- </div> -->
